cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
dill==0.2.7.1
eventregistry==6.5.1
future==0.16.0
google-auth==1.1.1
google-cloud-core==0.27.1
google-cloud-language==0.29.0
google-gax==0.15.15
googleapis-common-protos==1.5.2
grpcio==1.4.0
idna==2.6
lxml==4.0.0
ply==3.8
protobuf==3.15.0
pyasn1==0.3.6
pyasn1-modules==0.1.4
PyJWT==1.5.3
PySocks==1.6.7
pytz==2017.2
requests==2.18.4
rsa==3.4.2
six==1.11.0
twilio==6.6.3
urllib3==1.22
